
.hashTag-list {
  background-color: hsla(0,0%,100%,.2);
  border-radius: 100px;
  margin-top: 10px;
  align-items: center;
  padding: 2px 12px;
  list-style-type: none;
}
.hashTag-text {
  text-decoration: none;
  color: #ffffff;
}